/* This file is part of the TSM Desktop Application.
 *
 * The TSM Desktop Application is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * The TSM Desktop Application is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the TSM Desktop Application.  If not, see <http://www.gnu.org/licenses/>.
 */ 


/* main window */
QMainWindow {
	background-color: rgb(11, 11, 11);
}


/* text */
QLabel {
	color : white;
}


/* tool button */
QToolButton {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(255, 160, 32), stop: 0.5 rgb(229, 112, 0), stop: 1 rgb(239, 128, 16));
	border-radius: 5px;
	border: 1px solid rgb(229, 112, 0);
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 16px;
	padding: 2px;
}
QToolButton:hover {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(238, 144, 16), stop: 0.5 rgb(213, 87, 0), stop: 1 rgb(238, 144, 16));
}
QToolButton:pressed {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(224, 112, 0), stop: 0.5 rgb(213, 87, 0), stop: 1 rgb(224, 112, 0));
}
QToolButton:disabled {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 rgb(124, 30, 0), stop: 0.5 rgb(110, 50, 0), stop: 1 rgb(124, 30, 0));
	border: 1px solid rgb(115, 50, 0);
	color: rgb(150, 150, 150);
}